<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description>{{ jenkins_job.description | default('') }}</description>
    <keepDependencies>false</keepDependencies>
    <properties>
{% if jenkins_job.parameters is defined %}
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
{% for parameter in jenkins_job.parameters | default([]) %}
{% if parameter.type == 'choice' %}
                <hudson.model.ChoiceParameterDefinition>
                    <name>{{ parameter.name }}</name>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
{% for choice in parameter.choices %}
                            <string>{{ choice }}</string>
{% endfor %}
                        </a>
                    </choices>
                    <description>{{ parameter.description | default('') }}</description>
                </hudson.model.ChoiceParameterDefinition>
{% elif parameter.type == 'bool' %}
                <hudson.model.BooleanParameterDefinition>
                  <name>{{ parameter.name }}</name>
                  <defaultValue>{{ 'true' if parameter.default | default(false) else 'false' }}</defaultValue>
                  <description>{{ parameter.description | default('') }}</description>
                </hudson.model.BooleanParameterDefinition>
{% elif parameter.type == 'text' %}
                <hudson.model.StringParameterDefinition>
                    <name>{{ parameter.name }}</name>
                    <trim>true</trim>
                    <defaultValue>{{ parameter.default | default('') }}</defaultValue>
                    <description>{{ parameter.description | default('') }}</description>
                </hudson.model.StringParameterDefinition>
{% endif %}
{% endfor %}
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
{% endif %}
    </properties>
    <triggers>
{% if jenkins_job.schedule is defined %}
        <hudson.triggers.TimerTrigger>
          <spec>{{ jenkins_job.schedule }}</spec>
        </hudson.triggers.TimerTrigger>
{% endif %}
    </triggers>
    <disabled>{{ 'true' if job.disabled | default(false) else 'false' }}</disabled>
{% if jenkins_job.scm is defined %}
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.7.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>{{ jenkins_job.scm.url }}</url>
                <credentialsId>{{ jenkins_job.scm.credentials_id }}</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
              <name>{{ jenkins_job.scm.ref_spec | default('*/main') }}</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="empty-list"/>
        <extensions/>
    </scm>
{% endif %}

{% if jenkins_job.build_wrappers is defined %}
    <buildWrappers>
{% if jenkins_job.build_wrappers | selectattr('type', 'equalto', 'secret') | list | length > 0 %}
        <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@687.v619cb_15e923f">
            <bindings>
{% for secret in jenkins_job.build_wrappers | selectattr('type', 'equalto', 'secret') | list %}
{% if secret.ssh_key_file_var is defined %}
                <org.jenkinsci.plugins.credentialsbinding.impl.SSHUserPrivateKeyBinding>
                  <credentialsId>{{ secret.credentials_id }}</credentialsId>
                  <keyFileVariable>{{ secret.ssh_key_file_var }}</keyFileVariable>
                  <usernameVariable>{{ secret.username_var | default('') }}</usernameVariable>
                  <passphraseVariable>{{ secret.password_var | default('') }}</passphraseVariable>
                </org.jenkinsci.plugins.credentialsbinding.impl.SSHUserPrivateKeyBinding>
{% elif secret.password_var is defined %}
                <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
                  <credentialsId>{{ secret.credentials_id }}</credentialsId>
                  <usernameVariable>{{ secret.username_var | default('') }}</usernameVariable>
                  <passwordVariable>{{ secret.password_var }}</passwordVariable>
                </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
{% endif %}
{% endfor %}
            </bindings>
        </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
{% endif %}

{% if jenkins_job.build_wrappers | selectattr('type', 'equalto', 'ssh-agent') | list | length > 0 %}
        <com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper plugin="ssh-agent@376.v8933585c69d3">
            <credentialIds>
{% for secret in jenkins_job.build_wrappers | selectattr('type', 'equalto', 'ssh-agent') | list %}
                <string>{{ secret.credentials_id }}</string>
{% endfor %}
            </credentialIds>
            <ignoreMissing>false</ignoreMissing>
        </com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
{% endif %}
    </buildWrappers>
{% endif %}
    <builders>
{% for builder in jenkins_job.builders %}
{% if builder.type == 'shell' %}
        <hudson.tasks.Shell>
            <command><![CDATA[{{ builder.command }}]]></command>
            <configuredLocalRules/>
        </hudson.tasks.Shell>
{% elif builder.type == 'trigger-build' %}
        <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@840.v3c7d4a_a_5e6c7">
          <configs>
            <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
              <configs>
{% if builder.use_job_parameters | default(false) %}
                <hudson.plugins.parameterizedtrigger.CurrentBuildParameters />
{% endif %}
              </configs>
              <projects>{{ builder.job_name }}</projects>
              <condition>ALWAYS</condition>
              <triggerWithNoParameters>false</triggerWithNoParameters>
              <triggerFromChildProjects>false</triggerFromChildProjects>
              <block>
                <buildStepFailureThreshold>
                  <name>FAILURE</name>
                  <ordinal>2</ordinal>
                  <color>RED</color>
                  <completeBuild>true</completeBuild>
                </buildStepFailureThreshold>
                <unstableThreshold>
                  <name>UNSTABLE</name>
                  <ordinal>1</ordinal>
                  <color>YELLOW</color>
                  <completeBuild>true</completeBuild>
                </unstableThreshold>
                <failureThreshold>
                  <name>FAILURE</name>
                  <ordinal>2</ordinal>
                  <color>RED</color>
                  <completeBuild>true</completeBuild>
                </failureThreshold>
              </block>
              <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
            </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          </configs>
        </hudson.plugins.parameterizedtrigger.TriggerBuilder>
{% endif %}
{% endfor %}
    </builders>
    <publishers />
    <canRoam>true</canRoam>
    {{ jenkins_job.extra_xml | default('') }}
</project>
